.container {
    padding: 20px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: rgb(238, 252, 255);
    height: 'auto';
  }
  